*{
    padding: 1%; 
    
  
}

.form-control {
  /* margin-bottom: 1%; */
  background-color:rgb(255, 153, 0) !important ;
 }
 .form-control input{
    display: block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 1%;
 } 
.a1{
 border: 2px solid black;
 width: 40% !important;
 height: 30% !important;
background-color: rgb(255, 153, 0);
;
 }
 body{
   background-color: rgb(0, 0, 0) !;
   background-image: url(./img/R.gif) !important;
   background-position: center;
   background-size: cover;
 }
 .img{
   width: 100%;
 }